<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompVMInstaller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <CompVMInstaller.My.MySettings>
            <setting name="ScoutScatterguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutDoubleBarrels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutShortstop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutShortstopPush" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutPistols" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutThrowables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutConsumables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoutMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperRifles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperHuntsman" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperSMGs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperThrowables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SniperMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierRocketLaunchers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierShotguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierBanners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierBison" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoldierMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoGrenades" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoStickybombs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MedicPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MedicMediguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MedicSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MedicMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavyMiniguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavyPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavyShotguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavyConsumables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavySecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavyMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroFlamethrowers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroShotguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroFlareguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroThermalthruster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroGaspasser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PyroMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpyRevolvers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpyPrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpySappers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpyMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpyMeleeInspects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieShotguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngiePomson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngiePrimary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngiePistols" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieWrangler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieSecondary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieWrenches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieGunslinger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngiePDA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EngieToolbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MedicSyringes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TF2Path" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PyroThermathruster" serializeAs="String">
                <value>False</value>
            </setting>
        </CompVMInstaller.My.MySettings>
    </userSettings>
</configuration>
